<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2 style="margin-left: 40%;margin-top: 20%">Navigate to Chat Application</h2>

<form class="noclass" action="/chat">
<input class="clickme" type="submit" ref="/chat" value="Click me">
</form>